<!DOCTYPE html>
<html>
<head>
    <title>Store - Add</title>
</head>
<body>
<h1>Add A New Store</h1>
<form action="/store/insert" method="get"> <br/>

    Store Name: <input name="name" type="text" /><br/>
    Specialty: <input name="specialty" type="text" /><br/>
    Address
    <br />
    <% for(var i=0; addressWD_result.length>i;i++) { %>
    <input type = "checkbox" name="addressWD_id"<% checkbox %> value="<%= addressWD_result[i].addressWD_id%>">
    <%= addressWD_result[i].street %>
    <br />
    <% } %>
    <br/>
    <input type="submit" />

</form>
</body>
</html>