<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Wine and Dine Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Wine and Dine Database</p>
    <a href="localhost:3000/winery/winery_view_all">Go to Winery Home Page</a> <br/><br/>
    <a href="localhost:3000/wine/wine_view_all">Go to Wine Home Page</a> <br/><br/>
    <a href="localhost:3000/region/region_view_all">Go to Region Home Page</a> <br/><br/>
    <a href="localhost:3000/food/food_view_all">Go to Food Home Page</a> <br/><br/>
    <a href="localhost:3000/store/store_view_all">Go to Store Home Page</a> <br/><br/>
    <a href="localhost:3000/users/users_view_all">Go to User Home Page</a> <br/><br/>
  </body>
</html>
