<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Wine and Dine Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Wine and Dine Database</p><br/>
    View, Add, Update, And Delete Records from the Database<br/><br/>
    <a href="winery/all">Go to Winery Home Page</a> <br/><br/>
    <a href="wine/all">Go to Wine Home Page</a> <br/><br/>
    <a href="region/all">Go to Region Home Page</a> <br/><br/>
    <a href="food/all">Go to Food Home Page</a> <br/><br/>
    <a href="store/all">Go to Store Home Page</a> <br/><br/>
    <a href="user/all">Go to User Home Page</a> <br/><br/>
    <a href="addressWD/all">Go to Address Home Page</a> <br/>
    <br/><br/>SubeQuery Examples<br/><br/>
    <a href="subqueries/allsq1">A query using a correlated subquery</a><br/><br/>
    <a href="subqueries/allsq2">A query using a subquery in a JOIN</a><br/><br/>
    <a href="subqueries/allsq3">A query using a subquery with IN or NOT IN</a><br/><br/>
    <a href="subqueries/allsq4">A query using a subquery with EXISTS or NOT EXISTS</a><br/><br/>
    <a href="subqueries/allsq5">A query that compares a value in the outer query to a value returned by the inner query</a><br/><br/>
    <a href="subqueries/allsq6">A query using GROUP BY</a><br/><br/>
    <a href="subqueries/allsq7">A query utilizing a JOIN, GROUP BY, HAVING and an derived function (avg, min, max, etc.)</a><br/><br/>
    <a href="subqueries/allsq8">A query using ORDER BY</a><br/><br/>
    <a href="subqueries/allsq9">A query using a UNION</a><br/><br/>
    <a href="subqueries/allsq10">A query using DISTINCT</a><br/><br/>
  </body>
</html>
