<!DOCTYPE html>
<html>
<head>
    <title>Query: Question 3</title>
</head>
<body>
<h1>A query using a subquery with IN or NOT IN</h1>

<table border ="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <% for(var i=0; i<query3.length; i++){ %>
    <tr>
        <td><%= query3[i].first_name %> </td>
        <td><%= query3[i].last_name %> </td>
        <% } %>
    </tr>
</table>
<h2>SQL Code:</h2>
<h3> select a.first_name, a.last_name<br/>
    from user a where user_id NOT IN<br/>
    (select uw.user_id from user_wine uw where uw.user_id=a.user_id);</h3>
</body>
</html>