<!DOCTYPE html>
<html>
<head>
    <title>Food - Add</title>
</head>
<body>
<h1>Add New Foods</h1>
<form action="/food/insert" method="get"> <br/>
    Name: <input name="name" type="text" /><br/>
    Meal Designation: <input name="meal_designation" type="text" /><br/>
    Meal Type: <input name="meal_type" type="text" /><br/>

    <br/>
    <input type="submit" />

</form>
</body>
</html>