
<!DOCTYPE html>
<html>
<head>
    <title>Users - Add</title>
</head>
<body>
<h1>Add New Users</h1>
<form action="/user/insert" method="get"> <br/>
    First Name: <input name="first_name" type="text" /><br/>
    Last Name: <input name="last_name" type="text" /><br/>
    Sex: <input name="sex" type="text" /><br/>
    Age: <input name="age" type="text" /><br/>
    Day: <input name="day" type="text" /><br/>
    Month: <input name="month" type="text" /><br/>
    Year: <input name="year" type="text" /><br/>
    Wine Preference: <input name="wine_preference" type="text" /><br/>
    Food Preference: <input name="food_preference" type="text" /><br/>
    Email: <input name="email" type="text" /><br/>
    <br/>
    Foods
    <br/>
    <% for(var i=0; food_result.length>i;i++) {%>
    <input type = "checkbox" name="food_id" value="<%= food_result[i].food_id %>">
    <%= food_result[i].name %>
    <br />
    <% } %>
    <br/>
    Wines
    <br/>
    <% for(var i=0; wine_result.length>i;i++) {%>
    <input type = "checkbox" name="wine_id" value="<%= wine_result[i].wine_id %>">
    <%= wine_result[i].name %>
    <br />
    <% } %>
    <br/>

    <input type="submit" />

</form>
</body>
</html>