<!DOCTYPE html>
<html>
<head>
    <title>Region - Add</title>
</head>
<body>
<h1>Add New Region</h1>
<form action="/region/insert" method="get"> <br/>

    Name: <input name="name" type="text" /><br/>
    Growing Seasons: <input name="growing_seasons" type="text" /><br/>
    Country: <input name="country" type="text" /><br/>
    <br/>
    <input type="submit" />

</form>
</body>
</html>